@tailwind base;
@tailwind components;
@tailwind utilities;

.video{
  background-image: url(assets/video_section.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

 .icon_StrategicPlans{

 width: 23%;
  border: 20px solid rgba(77, 134, 124, .7);
  transform: translateY(50px);
}

.StrategicPlans{
  background-image: url(assets/our_club_bg_1.png);
  background-size: cover;
  height: 400px;
}

.StrategicPlans h2{

 color: #ffffff;
 font-size: 36px;
 font-weight: 700;
  transform: translateY(-50px);
}

.auth-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

.auth-left {
  width: 40%;
  color: white;
clip-path: polygon(100% 0%, 74% 55%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.auth-left button {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 25px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

.auth-right{
  width: 40%;
  color: white;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 26% 54%, 0% 0%);

}



