@tailwind base;
@tailwind components;
@tailwind utilities;

.video{
  background-image: url(assets/video_section.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}


